<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.china">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--//添加允许安装未知应用市场权限，这个权限不是动态权限，所以不用进行动态申请，否则自动更新功能失效-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- umeng -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!-- 以下为需要的基本权限，需要自行添加至您的AndroidManifest文件中 start-->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 以下为需要的基本权限，需要自行添加至您的AndroidManifest文件中 end-->
    <!-- umeng -->

    <application
        android:name="com.china.common.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">

        <!--解决android28以后无法使用apache http协议-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- 自动更新下载完成广播 -->
        <receiver android:name="com.china.utils.AutoUpdateBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
            </intent-filter>
        </receiver>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7d98aa68b0755496a3c142591a0e862b" />

        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name="com.china.activity.WelcomeActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- js拉起应用，分享识别二维码用到 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="host"
                    android:scheme="scheme"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.china.activity.ShawnMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.china.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.CityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.CityForecastActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.FeedbackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.Webview2Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WebviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ProductActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.Product2Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WeatherInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnTyhpoonActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ForecastActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.MinuteFallActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnStrongStreamActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnSocietyObserveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnAirQualityActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="nosensor" />

        <activity
            android:name="com.china.activity.ShawnFactActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWeatherStaticsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnFactRankDetailActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="sensor" />

        <activity
            android:name="com.china.activity.ShawnFactAreaSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.DisasterSpecialActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WaitWindActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WarningActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WarningDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WarningListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />

        <activity
            android:name="com.china.activity.ShawnFactRankActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnFactRankSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.DecisionNewsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnCollectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.PDFActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.DisasterReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.DisasterReportDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWeatherMeetingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWeatherMeetingDetailActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.china.activity.ShawnWeatherMeetingVideoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.china.activity.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnConnectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnZXingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnScreenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnEmptyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWarningStatisticActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWarningStatisticListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWarningStatisticScreenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWarningStatisticScreenAreaActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WeatherChartActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnReserveCityActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnPointFactActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnComForecastActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnStreamFactActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnStreamFactListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WarningHeaderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.RadarDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnPointForeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnPointForeDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnProductOrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnModifyMailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnServiceFeedbackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnManageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnFiveRainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnFiveRainRankActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnFiveRainRankSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ProductCustomActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ProductCustomSubmitActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.BroadcastWeatherActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.china.activity.WeatherFactActivity"
            android:screenOrientation="portrait" />


        <!--umeng share-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106871193" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--umeng-->


        <!--华为推送-->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="10744205" />

        <!--魅族push应用定义消息receiver声明 -->
        <receiver android:name="com.china.MeizuPushReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收unregister消息-->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本Flyme3推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
