<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.china" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- umeng -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- umeng -->

    <application
        android:name="com.china.common.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 自动更新下载完成广播 -->
        <receiver android:name="com.china.utils.AutoUpdateBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                 <action android:name="android.intent.action.PACKAGE_INSTALL" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7d98aa68b0755496a3c142591a0e862b"/>

        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name="com.china.activity.WelcomeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- js拉起应用，分享识别二维码用到 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="scheme"
                    android:host="host">
                </data>
            </intent-filter>
        </activity>

        <activity
            android:name="com.china.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.GuideActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.CityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.CityForecastActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.FeedbackActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.china.activity.WeatherInfoDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.Url2Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ProductActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ProductActivity2"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WeatherInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.TyphoonRouteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.HeadWarningActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ForecastActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.MinuteFallActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.StrongStreamActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.SocietyObserveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.AirPolutionActivity"
            android:screenOrientation="nosensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />

        <activity
            android:name="com.china.activity.StaticsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.StationMonitorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.StationMonitorDetailActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />

        <activity
            android:name="com.china.activity.StationMonitorSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.DisasterSpecialActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WaitWindActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WarningActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WarningDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WarningListActivity"
            android:windowSoftInputMode="stateHidden|adjustUnspecified"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.StationMonitorRankActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.StationMonitorRankSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.DecisionNewsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.JPGActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />

        <activity
            android:name="com.china.activity.MyCollectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.PDFActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.DisasterReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.DisasterReportDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WeatherMeetingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WeatherMeetingDetailActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.china.activity.WeatherMeetingVideoActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.china.activity.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ConnectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ZXingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ScreenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.EmptyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WarningStatisticActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WarningStatisticListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WarningStatisticScreenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WarningStatisticScreenAreaActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.WeatherChartAnalysisActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ReserveCityActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.PointFactActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ComprehensiveForecastActivity"
            android:screenOrientation="portrait" />


        <!--umeng share-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106871193" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--umeng-->

    </application>

</manifest>
