<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.china" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--//添加允许安装未知应用市场权限，这个权限不是动态权限，所以不用进行动态申请，否则自动更新功能失效-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--安卓8.0打开apk安装更新-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- umeng -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- umeng -->

    <application
        android:name="com.china.common.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 自动更新下载完成广播 -->
        <receiver android:name="com.china.utils.AutoUpdateBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                 <action android:name="android.intent.action.PACKAGE_INSTALL" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7d98aa68b0755496a3c142591a0e862b"/>

        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name="com.china.activity.ShawnWelcomeActivity"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- js拉起应用，分享识别二维码用到 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="scheme"
                    android:host="host">
                </data>
            </intent-filter>
        </activity>

        <activity
            android:name="com.china.activity.ShawnMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnGuideActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnCityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnCityForecastActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnFeedbackActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.china.activity.ShawnNewsDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWebviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnProductActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnProductActivity2"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWeatherInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnTyhpoonActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnForecastActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnMinuteFallActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnStrongStreamActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnSocietyObserveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnAirQualityActivity"
            android:screenOrientation="nosensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />

        <activity
            android:name="com.china.activity.ShawnFactActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWeatherStaticsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnFactRankDetailActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />

        <activity
            android:name="com.china.activity.ShawnFactAreaSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnDisasterSpecialActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWaitWindActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWarningActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWarningDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWarningListActivity"
            android:windowSoftInputMode="stateHidden|adjustUnspecified"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnFactRankActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnFactRankSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnDecisionNewsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnCollectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnPDFActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnDisasterReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnDisasterReportDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWeatherMeetingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWeatherMeetingDetailActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.china.activity.ShawnWeatherMeetingVideoActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.china.activity.ShawnAboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnConnectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnZXingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnScreenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnEmptyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWarningStatisticActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWarningStatisticListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWarningStatisticScreenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWarningStatisticScreenAreaActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnWeatherChartActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnReserveCityActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnPointFactActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnComForecastActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnStreamFactActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnStreamFactListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnHeadWarningActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnRadarDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnPointForeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnPointForeDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnProductOrderActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name="com.china.activity.ShawnModifyMailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name="com.china.activity.ShawnServiceFeedbackActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name="com.china.activity.ShawnManageActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.china.activity.ShawnFiveRainRankActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnFiveRainRankSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnProductOrderActivity2"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.china.activity.ShawnProductOrderSubmitActivity2"
            android:screenOrientation="portrait" />


        <!--umeng share-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106871193" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--umeng-->

    </application>

</manifest>
